<div class="container">
    <!-- List group for service listing -->
    <ul class="list-group">
        <li class="list-group-item">
            <div class="card">
                <h4 class="card-title">Web Development</h4>
                <div class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item">HTML5/CSS3, Javascript, Nodejs, Express</li>
                        <li class="list-group-item">MEAN implementation stack</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card">
                <h4 class="card-title">General Programming</h4>
                <div class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item">C#</li>
                        <li class="list-group-item">Java</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card">
                <h4 class="card-title">Database Management</h4>
                <div class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item">Oracle SQL</li>
                        <li class="list-group-item">MongoDB</li>
                    </ul>
                </div>
            </div>
        </li>

    </ul>
</div>
