<div class="container">
    <!-- Card deck for project samples -->
    <label for="slctType">Project Type</label>"
    <select x:Name="slctType" [(ngModel)]="selectedProjType" (change)="valueSelected()">
        <option value="all">All</option>
        <option value="webapp">Web App</option>
        <option value="standalone">Stand Alone App</option>
    </select>
    <label for="slctLang">Language</label>
    <select x:Name="slctLang" [(ngModel)]="selectedLang" (change)="valueSelected()">
        <option value="all">All</option>
        <option value="csharp">C#</option>
        <option value="java">Java</option>
        <option value="python">Python</option>
        <option value="uml">UML</option>
    </select>

    <div>
        Proj type: {{ selectedProjType }}
        lang: {{ selectedLang }}
    </div>
    <div class="card-deck d-sm-flex flex-sm-row align-content-around justify-content-center">
        <app-project-item *ngFor="let projectItem of projectItemListFilt" [projectItem]="projectItem">

        </app-project-item>

    </div>
    <div>
    </div>
</div>
