<p>about works!</p>
<div class="m-4 container">
    <!-- Grid display for self Image -->
    <div class="d-flex flex-row">
        <div class="col-sm-4">
            <div class="card" style="width:100%">
                <img class="card-img-top" src="../../assets/images/selfPicture.png" alt="Picture of Kyle" style="width:100%">
                <div class="card-body text-dark">
                    <h4 class="card-title">Kyle O'Keeffe</h4>
                    <a href="images/OKeeffeKyle_CV.pdf" id="resumeButton" class="btn w-100 btn-primary">View Resume</a>
                </div>
            </div>
        </div>
        <div class="col-sm-8 text-white">
            My name is Kyle O’Keeffe and I am a Software Developer graduating from Centennial College's Software Engineering Technology Advanced Diploma in Jan 2023. In addition to my work as a developer, I have employment experience in a range of fields including Program and Policy Research Analysis, Inventory and Logistics Analysis.
            My passion for software development orginated in my previous employment roles, where I recognized the value that custom-made software and automation solutions can add to our work and personal lives.
            In addition to my recent education at Centennial College, I have completed a post-graduate certificate in Research Analysis and a Bachelors degree in History. My previous experiences have greatly contributed to my skill in interpersonal communicaiton and capacity for creative problem solving. 
        </div>
    </div>
</div>
