<main role="main" class="px-3">
    
    <h1>K-Go Development </h1>
    <p class="lead">Custom Software solutions by Kyle O'Keeffe</p>

    <!--<div class="mx-auto w-60 row">
        <div class="card">
            <div class="card-title"><h3>Mission Statement</h3></div>
            <div class="card-text">My mission is to develop my skills and knowledge in Software development in order to contribute to the development of software that will have a meaningful impact on both personal lives of individuals and the operations of the businesses where they devote their passion.</div>
        </div>
    </div>-->
    <p class="lead">
        <a [routerLink]="['/services']" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more about our services</a>
    </p>
    <br>
    <p>Site currently under development (Aug 2023) - Check back often for updates!</p>

</main>


    <!--<div class="m-4 container">
        <div class="w-60 mx-auto jumbotron">
            <h1 class="mx-auto">Professional Portfolio - Kyle O'Keeffe</h1>
            Welcome to the Professional Portfolio of Kyle O'Keeffe
        </div>

        <div class="mx-auto w-60 row">
            <div class="card">
                <div class="card-title"><h3>Mission Statement</h3></div>
                <div class="card-text">My mission is to develop my skills and knowledge in Software development in order to contribute to the development of software that will have a meaningful impact on both personal lives of individuals and the operations of the businesses where they devote their passion.</div>
            </div>
        </div>
    </div>
    -->
