<table class="table text-white">
    <thead class="thead-light">
        <tr>
            <th>User Name</th>
            <th>Password</th>
            <th></th>
        </tr>
    </thead>
    <tr *ngFor="let us of service.list">
        <td (click)="populateForm(us)">{{us.name}}</td>
        <td (click)="populateForm(us)">{{us.password}}</td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(us.id)"></i>
        </td>
        <td>
        </td>
    </tr>
</table>
